* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

html {
  font-size: 10px;
}

body {
  background-color: #3b3b3b;
}

h1,
span {
  color: #d8d8d8;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2.8rem;
}

p {
  font-size: 2rem;
}

span {
  font-size: 2rem;
}

body {
  position: relative;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
  padding: 10px 6px;
  background-color: #606060;
  border-radius: 16px;
}
nav .headerContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
nav .headerContainer img {
  width: 50px;
  height: 50px;
}
nav .githubSourceBtn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 2px 4px;
  gap: 2px;
  border: none;
  border-radius: 8px;
  background-color: #ffffff;
  text-decoration: inherit;
  transition: all 0.5s;
}
nav .githubSourceBtn #githubSpan {
  color: #000000;
}
nav .githubSourceBtn .githubLogo {
  width: 20px;
  height: 20px;
}
nav .githubSourceBtn:visited {
  text-decoration: none;
  color: #000000;
}

.sidebarContainer {
  position: absolute;
  top: 0;
  right: 0;
  width: 420px;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2117647059);
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s;
  transform: translateX(100%);
}

.sidebarContainer.open {
  opacity: 1;
  visibility: visible;
  transform: translateX(0%);
}

.mainContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #606060;
  border-radius: 16px;
  padding: 0.6rem;
  gap: 30px;
}
.mainContainer p,
.mainContainer h2 {
  color: #cbcbcb;
}

.mainContainer > form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.generalInfoContainer {
  margin: 0 0 10px 5px;
}

.inputContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.targetUsernameInput {
  width: 50vw;
  outline: none;
  border: none;
  padding: 8px 12px;
  border-radius: 8px;
  font-size: 1.8rem;
}
.targetUsernameInput:focus {
  outline: 1px solid #9170eb;
}

.superBtn {
  padding: 4px 6px;
  border: none;
  border-radius: 8px;
  transition: all 0.5s;
}

.superBtn:hover {
  color: #9170eb;
  background-color: #e27868;
}

.langList {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
}

.langContainer {
  background-color: #8e8e8e;
  margin-bottom: 5px;
  padding: 0.6rem;
  border-radius: 8px;
}

.profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.profile .userBadge {
  max-width: 1440px;
  width: 90vw;
}

.langCard {
  width: 220px;
  height: 220px;
  background-color: rgb(83, 83, 83);
  padding: 10px;
  border-radius: 8px;
  transition: all 0.5s ease;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.langCard .headerCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  font-size: 2.5rem;
}
.langCard .headerCard h3 {
  color: rgb(214, 143, 12);
}
.langCard .infoCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  gap: 5px;
}
.langCard img {
  width: 50px;
  height: 50px;
}
.langCard:hover {
  transform: scale(1.05);
}

.container {
  --uib-size: 35px;
  --uib-color: rgb(117, 41, 240);
  --uib-speed: 1s;
  --uib-stroke: 3.5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: var(--uib-size);
  height: calc(var(--uib-size) * 0.9);
}

.bar {
  width: var(--uib-stroke);
  height: 100%;
  background-color: var(--uib-color);
  transition: background-color 0.3s ease;
}

.bar:nth-child(1) {
  animation: grow var(--uib-speed) ease-in-out calc(var(--uib-speed) * -0.45) infinite;
}

.bar:nth-child(2) {
  animation: grow var(--uib-speed) ease-in-out calc(var(--uib-speed) * -0.3) infinite;
}

.bar:nth-child(3) {
  animation: grow var(--uib-speed) ease-in-out calc(var(--uib-speed) * -0.15) infinite;
}

.bar:nth-child(4) {
  animation: grow var(--uib-speed) ease-in-out infinite;
}

@keyframes grow {
  0%, 100% {
    transform: scaleY(0.3);
  }
  50% {
    transform: scaleY(1);
  }
}
@media screen and (max-width: 768px) {
  .langList {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 425px) {
  .langList {
    gap: 15px;
  }
  .langCard {
    width: 200px;
    height: 200px;
    padding: 5px;
  }
  .langCard .headerCard {
    font-size: 2rem;
  }
  .langCard .infoCard {
    font-size: 1.5rem;
  }
  .langCard img {
    width: 30px;
    height: 30px;
  }
}
@media screen and (max-width: 376px) {
  .langList {
    grid-template-columns: repeat(1, 1fr);
  }
  .langCard {
    flex-direction: column;
    align-items: center;
    gap: 5px;
  }
  .langCard .headerCard {
    flex-direction: column;
    align-items: center;
  }
  .langCard .infoCard {
    gap: 10px;
  }
  .langCard img {
    width: 50px;
    height: 50px;
  }
}/*# sourceMappingURL=style.css.map */